:root {
  --basic-white: #fff;
  --basic-dark: #000;
  --basic-error: #ff0000;
  --basic-accent: #3369f3;
  --basic-gray-light-2ultra: #f8f8f8;
  --basic-gray-light-ultra: #efefef;
  --basic-gray-light: #eaeaea;
  --basic-gray: #999999;
  --basic-gray-accent: #e4edfd;
}
