<main class="container">

  <form class="form-auth">
    <h2 class="form-auth__title">Регистрация</h2>
    <label class="form-auth__field">
      <input type="text" class="form-auth__input" placeholder="&nbsp;">
      <span class="form-auth__input-placeholder">Почта</span>
      <span class="form-auth__input-error">Пароли не совпадают</span>
    </label>
    <p class="form-auth__space"></p>
    <button type="submit" class="form-auth__submit-button">Зарегистрироваться</button>
    <a class="form-auth__link" href="/login">Войти</a>
  </form>

</main>
