.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__code {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 20px;
}

.error__text {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 70px;
}

.error__link {
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
  color: var(--basic-accent);
}
