@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./variables/variables.css);

.page {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active-element {
  transition: opacity .2s;
  cursor: pointer;
}

.active-element:hover {
  opacity: .8;
}
